Dictionary :
    it is container object which holds elements in form of key : value pair
    and it is denoted by curly brackets.

In [1]:
d = {}
type(d)

dict

In [2]:
d[1] = "one"
d[2] = "two"
d

{1: 'one', 2: 'two'}

In [6]:
d1 = {1:[1,2,3],"aman":"singh",3.89:True,5:(12,14,16)}
d1

{1: [1, 2, 3], 'aman': 'singh', 3.89: True, 5: (12, 14, 16)}

In [12]:
d1[5][1:]

(14, 16)

In [13]:
d1.keys()

dict_keys([1, 'aman', 3.89, 5])

In [14]:
d1.values()

dict_values([[1, 2, 3], 'singh', True, (12, 14, 16)])

In [15]:
d1.items()

dict_items([(1, [1, 2, 3]), ('aman', 'singh'), (3.89, True), (5, (12, 14, 16))])

In [21]:
for i,j in d1.items():
    print(i,":",j)

1 : [1, 2, 3]
aman : singh
3.89 : True
5 : (12, 14, 16)

age = {"golu":34,"molu":44,"ela":23,"bholu":56,"jenney":26,"wasim":67}
print the person old if his age is greater than 40,if it is less than 40 we have to print as young

In [23]:
age = {"golu":34,"molu":44,"ela":23,"bholu":56,"jenney":26,"wasim":67}
age1 = {}
for i,j in age.items():
    if j>40:
        age1[i] = "old"
    else:
        age1[i] = "young"
age1

{'golu': 'young',
 'molu': 'old',
 'ela': 'young',
 'bholu': 'old',
 'jenney': 'young',
 'wasim': 'old'}

In [24]:
#dictionary methods
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [29]:
d1.fromkeys([1,2,3],[3,4,5])

{1: [3, 4, 5], 2: [3, 4, 5], 3: [3, 4, 5]}

In [30]:
d1

{1: [1, 2, 3], 'aman': 'singh', 3.89: True, 5: (12, 14, 16)}

In [31]:
d1[2] = "aman singh"

In [33]:
d1[2] = [1,2,3,4,5]

In [34]:
d1

{1: [1, 2, 3],
 'aman': 'singh',
 3.89: True,
 5: (12, 14, 16),
 2: [1, 2, 3, 4, 5]}

In [39]:
d1.get("singh")

In [40]:
d1

{1: [1, 2, 3], 3.89: True, 5: (12, 14, 16), 2: [1, 2, 3, 4, 5]}

In [37]:
d1.pop("aman")

'singh'

In [38]:
d1

{1: [1, 2, 3], 3.89: True, 5: (12, 14, 16), 2: [1, 2, 3, 4, 5]}

In [41]:
d1.popitem()

(2, [1, 2, 3, 4, 5])

In [46]:
d1.setdefault(6,"we")

In [49]:
d1[6] = "we"

In [50]:
d1

{1: [1, 2, 3], 3.89: True, 5: (12, 14, 16), 6: 'we'}

In [51]:
d2 = {4:"try",5:12,7:45}
d1.update(d2)
d1

{1: [1, 2, 3], 3.89: True, 5: 12, 6: 'we', 4: 'try', 7: 45}

WAP to take a dictionary , and the first key : value pair has to be integer 
then subtract 120 from the value , if it is positive difference , multply it with 2 , if it is negative difference square the value and replace it with the existing value

In [56]:
d = {1:3456}
x = d[1]-120
x = x*2
d[1] = x
d

{1: 6672}

In [57]:
d = {"key":{"nestedkey":{"subnestkey": "value"}}}

In [61]:
len(d["key"]["nestedkey"]["subnestkey"])

5